*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
}

header {
	background-color: #fff;
	box-shadow: 0 1px 1px #ededed;
	display: flex;
	flex-direction: row;
	height: 60px;
  padding: 20px;
	position: sticky;
	position: -webkit-sticky;
  top: 0;
}

/* Header: Brand Section */
header div.brand {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 25%;
}

.brand i.fa-bars {
	padding: 0 15px;
}

.brand img {
	width: 90px;
	margin-top:6px;
}

/* Header Search Section */
header div.search{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.search input, .search span {
		height: 30px;
}

.search input {
	border: 1px solid #c9c9c9;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	padding: 5px;
	width: 600px;
}

.search span {
	align-items: center;
	background-color: #c9c9c9;
	border-bottom-right-radius:  3px;
	color: #fff;
	border-top-right-radius: 3px;
	display: flex;
	font-size: 90%;
	justify-content: center;
	padding: 5px 15px;
}

/* Header: Menu Items Section */
header div.menu {
	align-items: center;
	display: flex;
	flex-direction: row-reverse;
	padding-right: 15px;
	width: 25%;
}

header div.menu i {
	color: #666;
	padding: 0 15px;
}

/* Content section: Video Player & Sidebar*/

content {
	padding: 20px 80px;
	display: flex;
	flex-direction: row;
}

.video-wrapper {
	height: 70vh;
}

.main, .sidebar {
	margin: 0 10px;;
}

.main {
	display: flex;
	flex-direction: column;
	width: 70%;
}

.sidebar {
	width: 30%;
}

.sidebar p {
	margin-bottom: 15px;
}

.main p {
	padding: 15px 0;
}

.main .title {
	font-size: 1.5rem;
}

.views-count {
	color: #606060;
}

.main .views-count {
	font-size: 1rem;
}

.sidebar .views-count, .artist-or-owner {
	font-size: 0.8rem;
}

/* suggested videos section wrapper */
.suggested-videos-wrapper {
	cursor: pointer;
	display: flex;
	flex-direction: column;
}

.suggested-videos-wrapper div {
	margin-bottom: 10px;
}

.video .thumbnail {
	float: left;
	width: 38%;
}

.video .description {
	float: right;
	width: 60%;
}

.video-title {
	color: #555;
	font-size: 14px;
	font-weight: bold;
}

.artist-or-owner {
	color: #606060;
}
