*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header{
	display: flex;
	flex-direction: row;
	height: 60px;
  /*width: 100%;*/
  border-bottom: 1px solid #000;
  padding: 20px;
}

/* Header: Brand Section */

header div.brand {
	/*display: inline-block;*/
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 25%;
}

.brand i.fa-bars {
	padding: 0 15px;
}

.brand img {
	width: 90px;
	margin-top:6px;
}

/* Header Search Section */
header div.search{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 50%
}

.search input, .search span {
		height: 30px;
}

.search input {
	border: 1px solid #c9c9c9;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	padding: 5px;
	width: 600px;
}

.search span {
	align-items: center;
	background-color: #c9c9c9;
	border-bottom-right-radius:  3px;
	color: #fff;
	border-top-right-radius: 3px;
	display: flex;
	font-size: 90%;
	justify-content: center;
	padding: 5px 15px;
}

/* Header: Menu Items Section */
header div.menu {
	align-items: center;
	display: flex;
	flex-direction: row-reverse;
	padding-right: 15px;
	width: 25%;
}

header div.menu i {
	color: #666;
	padding: 0 15px;
}

content {
	padding: 20px 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.SuggestedVideos li img{
	width: 300px;
	cursor:pointer;
}
.SuggestedVideos{
	list-style: none
}
.SuggestedVideos li {
	margin-bottom: 10px;
}

content .main, content .sidebar {
	margin: 0 10px;;
}

content .main {
	display: flex;
	flex-direction: column;
	width: 70%;
}

content .sidebar {
	width: 30%;
}

.main p {
	padding: 15px 0;
}

.main .title {
	font-size: 1.5rem;
}

.main .views-count {
	color: #666;
	font-size: 1rem;
	font-weight: bold;
}
